@import "../../../styles/main";

.container {
  max-width: 1130px;
  margin: 0 auto;
  height: auto;
  min-height: 100vh;
  background-color: $color-white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
