$color-01: #40483A;
$color-02:  #362C2C;
$color-03: #917878;
$color-04: #D9D9D9;
$color-black: #000;
$color-white: #fff;
$color-green: #35660E;
$color-blue: #071594;
$color-red: #FF0000;

$Inter: 'Inter', sans-serif;
$Lato: 'Lato', sans-serif;
